* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
a {
    color: white;
  }
  
  /* header */
  
  .header {
    background-color: #27168C;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #27168C;

  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    font-size: 1.5rem;

  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #BCB2F9;
    color: #27168C;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    /* display: inline-block; */
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: cornsilk;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: cornsilk;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  /* POPIP CONTAINER*/

  .popup{
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
  }
  /* THE ACTUAL POPUP */
  .popup .popupText {
    visibility: hidden;
    width: 217px;
    background-color: #27168C;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 10%;
    margin-left: -90px;

  }
/* POPUP ARROW */
.popup .popupText::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #27168C transparent
  transparent transparent;
}

.popup .popupText::after ::selection {
  color: red;
  background: yellow;
}
/* TOGGLE THIS CLASS - HIDE AND SHOW THE POPUP */
.popup .show{
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


/* ADD ANIMATION (FADE IN THE POPUP) */

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}



/* -------------------- */
.main{
    display: flex;
    flex-direction: column;
}
h6{
    margin-top: 5rem;
    /* margin: 5rem; */
    padding-left: 5%;
}
.myPic{
    margin-top: 1rem;
    width: 15rem;
    height: 15rem;
    object-fit:cover; 
    border-radius: 100%;
}
.icons{
    margin: .3rem;
    width: 2rem;
    height: 2rem;
}
.icon{
  margin: .3rem;
  width: 2rem;
  height: 2rem;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aquamarine; */
}
.title{
    color: #27168C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 2rem;
}
.contact{
    margin: 1rem;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 2px solid purple; */
}
.description {
    padding: 1rem;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.collabs{
  display: none;
}
.webScan{
  display: none;
}


.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: palevioletred; */
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.skillsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 3px solid #27168C;
    box-sizing: border-box;
    margin: 3rem;
    padding: 1rem;
}
.skillsIcons{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    /* margin: .5rem; */
    /* object-fit:cover;  */
}
.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: darkseagreen; */
    padding-top: 1rem;
    padding-bottom: 2rem;
}
/* ------------ */
.article{
    margin: 2rem;
    border: 2px solid #6A8594;
    text-align: center;
    width: 90%;
    background-color: aliceblue;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)

}
.see_pro{
    margin: 1rem;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 2px solid purple; */
}
.p_img{
  margin-top: .5rem;
  /* width: 90%; */
  /* width: 320px; */
  height: 200px;
}
h4{
    color: #27168C;
    padding: 1rem;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.caption{
    padding: .5rem;
    /* height: 260px; */
    /* text-align: left; */
}
.button{
    margin: .3rem;
    padding: .3rem;
    border: 2px solid #27168C;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #27168C;
  
}


/* .footer{
    background-color: cadetblue;
    height: 4rem;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
} */

@media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
}
@media (min-width: 850px) {
  main{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #6A8594;
  }
    .sayHi{
        position: relative;
        right: 15%;
        top: 20%;
        padding: 0;
        margin: 0;
    }
    h6{
        text-align: left;
    }
    .title{
        margin: 0;
        font-size: 3rem;
    }

.profile{
    height: 40%;
    margin: 60px 0;
}
.collabs{
  display: block;
  margin: 5rem 20.3rem;
  margin-bottom: 100px;
  height: 250px;
  width: 400px;
}
.webScan{
  display: block;
  height: 400px;
  width: 50%;
  margin: 3rem;
}
.contact {
    position: relative;
    left: 20%;
    top: 15%;
}
.myPic{
    margin: 0%;
    position: relative;
    left: 20%;
    top: 15%;
    border-radius: 0%;
    width: 28%;
} 
.descDiv {
    width: 30%;
    position: absolute;
    top: 15rem;
    left: 25%;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
}
.article{
  width: 33.33%;
}
.skillsContainer{
  width: 50%;
  margin-top: 0;
  margin-bottom: 6rem;
}
.skillsIcons{
  width: 100px;
  height: 100px;
  margin: .5rem;
}
.projects{
  /* background-color: aqua; */
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.skillsWrapper{
  display: flex;
  flex-direction: row;
  margin: 5rem auto;
}
}
/* .webScan{
  background: url(undraw_real_time_collaboration_c62i.png);
transform: matrix(-1, 0, 0, 1, 0, 0);
} */

